@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body #fonts {
	font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ede7f6;
    min-width: 0px !important;
}
